.biased-section-partial-95d4ad {
    position: relative;
    clip-path: polygon(0 8%, 100% 0%, 100% 92%, 0% 100%);
    background: #1A1728;
    min-height: 483px;
    padding: 10rem 24px;
    .content{
        p{
            color: #ffffff;
            font-size: 18px;
            font-style: normal;
            font-weight: 500;
            line-height: 150%;
            letter-spacing: 0.1px;
        }
    }
}