.properties-you-trust-partial-88f88c {
    padding: 5rem 24px;
    background: #F6F9FC;
    .title{
        color: #0A2540;
        font-size: 32px;
        font-style: normal;
        font-weight: 400;
        line-height: 150%;
        letter-spacing: 0.1px;
        strong{
            font-weight: 700;
        }
        @media(max-width:768px){
            font-size: 25px;
        }
    }
    .intro-before-title{
        color: #637281;
        font-size: 19px;
        font-style: normal;
        font-weight: 400;
        line-height: 150%;
        letter-spacing: 0.1px;
        align-self: stretch;
        @media(max-width:768px){
            font-size: 18px;
        }
    }
    .card-property{
        padding: 16px 13.948px;
        border-radius: 14.306px;
        background: #FFF;
        box-shadow: 3.576px 3.576px 15px 0px #F1F1F1;
        text-align: center;
        img{
            margin: .7rem auto;
            width: 30.758px;
            height: 30.758px;
        }
        h4{
            color: #23375E;
            text-align: center;
            font-size: 19px;
            font-style: normal;
            font-weight: 700;
            line-height: 150%;
            letter-spacing: 0.1px;
            align-self: stretch;
        }
        p{
            color: #637281;
            text-align: center;
            font-size: 15px;
            font-style: normal;
            font-weight: 500;
            line-height: 150%;
            letter-spacing: 0.1px;
            align-self: stretch;
        }
    }
}