.who-supports-us-partial-4f8553 {
    padding: 50px 1rem;
    position: relative;
    background: $white;
    svg{
        position: absolute;
        bottom: 0;
        right: 0;
        transform: translateY(30%);
        width: 100%;
        height: auto;
        @media(max-width:768px){
            display: none;
        }
    }
    .row{
        margin-bottom: 50px;
        h2{
            color: #0A2540;
            font-size: 40px;
            font-weight: 400;
            line-height: 150%;
            letter-spacing: 0.1px;
            margin-bottom: 50px;
            strong{
                font-weight: 700;
            }
        }
        .image-contain{
            margin-bottom: 24px;
            img{
                width: 100%;
                max-width: fit-content;
            }
            @media(max-width:768px){
                border-radius: 5.523px;
                background: #FFF;
                box-shadow: 0px 0px 2.688px 0px rgba(0, 0, 0, 0.04), 0px 2.688px 5.376px 0px rgba(0, 0, 0, 0.06);
            }
        }
    }
}