#financial-services-template-c8ceb6 {
    .generic-banner-partial-ec8c2e{
        min-height: 68vh !important;
        overflow: hidden;
        .background-desktop{
            height: 100vh !important;
            object-position: bottom;
            left: -14px;
            width: 102%;
            object-fit: fill;
        }
    }
}