#financial-services-template-c8ceb6 {
    .generic-banner-partial-ec8c2e{
        min-height: auto !important;
        overflow: hidden;
        .background-desktop{
            left: -14px;
            width: 102%;
        }
    }
}