#press-room-template-b6d044 {
    .recognitions-partial-d722b5{
        padding: 40px 24px 222px 24px;
        .svg-circles{
            display: none;
        }
        .svg-large{
            top: 55%;
            transform: translateY(-65%) rotate(180deg);
        }
    }
}