.benefits-partial-8190bc {
    background: rgba(246, 249, 252, 0.70);
    position: relative;
    padding: 100px 1rem;
    .svg-top{
        position: absolute;
        right: 0;
        top: 15%;
        transform: translateY(-15%);
    }
    h2{
        color: #0A2540;
        font-size: 40px;
        font-weight: 700;
        line-height: 150%;
        letter-spacing: 0.1px;
        margin-bottom: 62px;
        @media(max-width:500px){
            font-size: 30px;
            margin-bottom: 47px;
        }
    }
    .benefit{
        margin-bottom: 62px;
        @media(max-width:500px){
            margin-bottom: 47px;
        }
        .icon-contain{
            width: 66.045px;
            height: 66.045px;
            img{
                width: 100%;
            }
            @media(max-width:500px){
                width: 54px;
                height: 54px;
            }
        }
        h4{
            color: #0A2540;
            font-size: 25px;
            font-weight: 400;
            line-height: 150%;
            letter-spacing: 0.1px;
            margin-bottom: 8px;
            strong{
                font-weight: 600;
            }
            @media(max-width:500px){
                font-size: 20px;
            }
        }
        p{
            color: #637281;
            font-size: 20px;
            font-style: normal;
            font-weight: 400;
            line-height: 150%;
            letter-spacing: 0.1px;
            margin-bottom: 0 !important;
            @media(max-width:500px){
                font-size: 15px;
            }
        }
    }
}