.comprehensive-protection-partial-ef20c2 {
    padding: 100px 24px;
    background: #ffffff;
    .logo-contain{
        width: 244.822px;
        height: 68.616px;
        border-radius: 60px;
        position: relative;
        box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.04), 0px 8px 16px 0px rgba(0, 0, 0, 0.08);
        margin-bottom: 32px;
        img{
            width: 100%;
            height: auto;
        }
        svg{
            position: absolute;
            width: 29.376px;
            height: 29.376px;
            bottom: 0;
            right: 0;
            transform: translateY(50%) translateX(13%);
        }
        @media(max-width:768px){
            width: 96px;
            height: auto;
            border-radius: 0;
            box-shadow: none;
            svg{
                width: 17px;
                height: 17px;
                bottom: 6px;
                right: 3px;
            }
        }
    }
    .title-and-introduction-contain{
        .title{
            color: #0A2540;
            font-size: 36px;
            font-style: normal;
            font-weight: 400;
            line-height: 150%;
            letter-spacing: 0.1px;
            strong{
                font-weight: 700;
            }
            @media(max-width: 500px){
                font-size: 23px;
            }
        }
        .intro{
            color: #637281;
            font-size: 25px;
            font-style: normal;
            font-weight: 400;
            line-height: 150%;
            letter-spacing: 0.1px;
            margin-bottom: 60px;
            strong{
                color: #0A2540;
                font-weight: 600;
            }
            @media(max-width: 500px){
                font-size: 16px;
                margin-bottom: 32px;
            }
        }
    }
    .items{
        .col-12:nth-child(2n){
            padding-left: 25px;
        }
        .col-12:nth-child(2n+1){
            padding-right: 25px;
        }
        @media(max-width:768px){
            .col-12{
                padding: 0 10px !important;
            }
        }
        a{
            text-decoration: none;
            .card-post{
                display: flex;
                height: 148px;
                align-items: flex-start;
                gap: 24px;
                flex: 1 0 0;
                border-radius: 8px;
                background: #FFF;
                box-shadow: 0px 4px 15px 0px rgba(160, 160, 160, 0.25);
                overflow: hidden;
                position: relative;
                @media(max-width:500px){
                    height: 68px;
                    gap: 5px;
                }
                .image-contain{
                    max-width: 206px;
                    width: 40%;
                    height: 100%;
                    position: relative;
                    .feature-image{
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                        object-position: center;
                    }
                    .icon{
                        display: flex;
                        width: 37px;
                        height: 37px;
                        padding: 8.409px;
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;
                        gap: 8.409px;
                        position: absolute;
                        left: 5px;
                        top: 8px;
                        border-radius: 84.091px;
                        background: #FFF;
                        box-shadow: 0px 4.462px 4.462px 0px rgba(114, 114, 114, 0.25);
                        img{
                            width: 20.182px;
                            height: 20.182px;
                        }
                    }
                    @media(max-width:500px){
                        max-width: 95px;
                        width: 45%;
                        .icon{
                            width: 20px;
                            height: 20px;
                            img{
                                width: 10px;
                                height: 10px;
                            }
                        }
                    }
                }
                .text-contain{
                    width: auto;
                    padding: 12px 10px 10px 8px;
                    .name{
                        color: #637281;
                        font-size: 16px;
                        font-style: normal;
                        font-weight: 300;
                        line-height: 150%;
                        letter-spacing: 0.1px;
                        margin-bottom: 0;
                        @media(max-width:500px){
                            font-size: 8px;
                        }
                    }
                    .description{
                        color: #637281;
                        font-size: 16px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: 150%;
                        letter-spacing: 0.1px;
                        margin-bottom: 0;
                        strong{
                            color: #0A2540;
                            font-weight: 600;
                        }
                        @media(max-width:500px){
                            font-size: 10px;
                            br{
                                display: none;
                            }
                            strong{
                                font-size: 13px;
                            }
                        }
                    }
                    .cta{
                        display: flex;
                        padding: 5.672px 0px;
                        justify-content: center;
                        align-items: center;
                        gap: 7.09px;
                        text-decoration: none;
                        width: fit-content;
                        span{
                            color: #000;
                            font-size: 16px;
                            font-style: normal;
                            font-weight: 600;
                            line-height: 150%; /* 24px */
                            letter-spacing: 0.1px;
                        }
                        svg{
                            width: 15.598px;
                            height: 15.598px;
                        }
                        @media(max-width:768px){
                            position: absolute;
                            top: 50%;
                            right: 4%;
                            transform: translateY(-50%);
                        }
                    }
                    @media(max-width:500px){
                        width: 55%;
                    }
                }
            }
        }
    }
    .cta-start-free{
        display: flex;
        height: 48px;
        padding: 8px 35px;
        justify-content: center;
        align-items: center;
        gap: 10px;
        align-self: stretch;
        transition: .4s;
        border-radius: 35px;
        text-align: center;
        max-width: fit-content;
        text-decoration: none;
        margin: 32px auto 8px 0;
        background: #7d65fe;
        color: #ffffff;
        border: 1px solid #7d65fe;
        transition: .4s;
        span{
            font-size: 16px;
            font-style: normal;
            font-weight: 700;
            line-height: 150%;
            letter-spacing: 0.1px;
        }
        svg{
            display: none;
        }
        &:hover{
            color: #7d65fe;
            background: #ffffff;
        }
        @media(max-width:500px){
            height: 32px;
            padding: 8px 7px 8px 13px;
            margin-top: 20px;
            span{
                font-size: 13px;
                margin-right: 7.9px;
            }
            svg{
                display: block;
            }
        }
    }
    .get-advice{
        display: flex;
        padding: 5.672px 0px;
        justify-content: center;
        align-items: center;
        gap: 7.09px;
        margin: 8px auto 0 0;
        text-decoration: none;
        color: #000000;
        max-width: fit-content;
        span{
            margin-right: 7.9px;
            font-size: 16px;
            font-style: normal;
            font-weight: 600;
            line-height: 150%;
            letter-spacing: 0.1px;
        }
        svg{
            width: 15.598px;
            height: 15.598px;
            flex-shrink: 0;
        }
        @media(max-width:500px){
            span{
                font-size: 13px;
            }
        }
    }
}