.regional-perspectives-partial-a741ab {
    padding: 0 24px 100px 24px;
    background: #ffffff;
    position: relative;
    .svg-pupple{
        position: absolute;
        right: 0;
        transform: translateY(30%);
        top: 0;
        svg{
            @media(max-width:768px){
                width: 105.754px;
                height: 56px;
            }
        }
    }
    .svg-gray{
        position: absolute;
        left: 0;
        transform: translateY(-10%);
        bottom: 0;
        @media(max-width:768px){
            bottom: 7rem;
            svg{
                width: 149px;
                height: 85px;
            }
        }
    }
    .title-contain{
        h2{
            color: #0A2540;
            font-size: 40px;
            font-style: normal;
            font-weight: 600;
            line-height: 150%;
            letter-spacing: 0.1px;
            margin-bottom: 0;
            @media(max-width:500px){
                font-size: 25px;
            }
        }
        p{
            color: #0A2540;
            font-size: 24px;
            font-style: normal;
            font-weight: 300;
            line-height: 150%;
            letter-spacing: 0.1px;
            margin-bottom: 32px;
            @media(max-width:500px){
                font-size: 15px;
            }
        }
    }
    .regional-cards-contain{
        position: relative;
        .regional-slide{
            opacity: 0;
            .item{
                .regiona-item{
                    padding-bottom: 24px;
                    align-items: center;
                    gap: 9.189px;
                    border-radius: 24px 24px 15px 15px;
                    background: #0A2540;
                    box-shadow: 11.486px 8.04px 22.972px 0px rgba(0, 0, 0, 0.08);
                    overflow: hidden;
                    .image-contain{
                        position: relative;
                        z-index: 1;
                        .main-image{
                            width: 100%;
                            height: 129px;
                            object-fit: cover;
                            object-position: center;
                        }
                        .logo{
                            display: flex;
                            width: 95.783px;
                            height: 35.919px;
                            padding: 5.986px;
                            flex-direction: column;
                            justify-content: center;
                            align-items: center;
                            gap: 6.265px;
                            position: absolute;
                            left: 10.217px;
                            top: 15px;
                            border-radius: 35.919px;
                            background: #FFF;
                            img{
                                width: 67.347px;
                                height: 18.59px;
                            }
                        }
                    }
                }
                .texts-contain{
                    position: relative;
                    display: flex;
                    padding: 15px 24px;
                    flex-direction: column;
                    align-items: flex-start;
                    gap: 9px;
                    align-self: stretch;
                    .svg{
                        position: absolute;
                        left: 50%;
                        top: 0;
                        transform: translateX(-50%) scale(1.2);
                    }
                    .cardinal-point{
                        display: flex;
                        width: 60.684px;
                        height: 28.656px;
                        padding: 16.923px 10.114px;
                        justify-content: center;
                        align-items: center;
                        gap: 10.114px;
                        border-radius: 50px;
                        background:  #ECF2FF;
                        color: #244596;
                        text-align: center;
                        font-size: 13.148px;
                        font-style: normal;
                        font-weight: 500;
                        line-height: 150%;
                        letter-spacing: 0.101px;
                        @media(max-width:500px){
                            border-radius: 5.647px;
                            font-size: 9.176px;
                        }
                    }
                    .description{
                        color: #ffffff;
                        font-size: 14px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: 150%;
                        letter-spacing: 0.1px;
                        margin-bottom: 0;
                        @media(max-width:500px){
                            font-size: 14px;
                        }
                    }
                    .projects-list{
                        width: 100%;
                        display: flex;
                        height: 91px;
                        align-items: flex-start;
                        gap: 9px;
                        a{
                            text-decoration: none;
                        }
                        .project{
                            display: flex;
                            width: 71.966px;
                            flex-direction: column;
                            align-items: flex-start;
                            gap: 6.442px;
                            align-self: stretch;
                            border-radius: 4.295px;
                            background: #FFF;
                            box-shadow: 0px 2.147px 8.052px 0px rgba(160, 160, 160, 0.25);
                            overflow: hidden;
                            .image-contain{
                                height: 45px;
                                width: 102%;
                                img{
                                    width: 100%;
                                    height: 100%;
                                    object-fit: cover;
                                    object-position: center;
                                    border-radius: 1.785px;
                                }
                            }
                            .text-content{
                                display: flex;
                                padding: 0px 5.669px;
                                flex-direction: column;
                                justify-content: center;
                                align-items: flex-start;
                                gap: 4.606px;
                                flex: 1 0 0;
                                align-self: stretch;
                                background: #ffffff;
                                h5{
                                    color: #0A2540;
                                    font-size: 9px;
                                    font-style: normal;
                                    font-weight: 700;
                                    line-height: 150%;
                                    letter-spacing: 0.054px;
                                }
                            }
                        }
                    }
                }
            }
            .owl-nav{
                display: flex;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                width: calc(100% + 55px);
                justify-content: space-between;
                align-items: center;
                button{
                    outline: none;
                    width: 54px;
                    height: 57px;
                }
                .disabled{
                    opacity: .7;
                }
            }
            .owl-dots{
                display: flex;
                align-items: center;
                justify-content: center;
                margin-top: 40px;
                .owl-dot{
                    width: 9.605px;
                    height: 9.605px;
                    flex-shrink: 0;
                    background: #B6B6B6;
                    margin: 0 4px;
                    border-radius: 50%;
                }
                .owl-dot.active{
                    width: 15.688px;
                    height: 15.688px;
                    background: #7D65FE;
                }
                @media(max-width:500px){
                    .owl-dot{
                        width: 5.395px;
                        height: 5.395px;
                    }
                    .owl-dot.active{
                        width: 8.811px;
                        height: 8.811px;
                    }
                }
            }
        }
    }
}