.true-story-partial-5878a2 {
    padding: 100px 24px;
    position: relative;
    .svg-contain{
        position: absolute;
        top: 70%;
        left: 0;
        transform: translateY(-70%);
        @media(max-width:768px){
            display: none;
        }
    }
    .title{
        color: #0A2540;
        font-size: 40px;
        font-style: normal;
        font-weight: 600;
        line-height: 150%;
        letter-spacing: 0.1px;
        @media(max-width:500px){
            font-size: 30px;
        }
    }
    .description{
        color: #0A2540;
        font-size: 24px;
        font-style: normal;
        font-weight: 300;
        line-height: 150%;
        letter-spacing: 0.1px;
        @media(max-width:500px){
            font-size: 15px;
        }
    }
    .slide-stories{
        opacity: 0;
        transition: 1s;
        position: relative;
        z-index: 1;
        .item{
            padding: 24px;
            .card-story{
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                gap: 10px;
                flex: 1 0 0;
                align-self: stretch;
                border-radius: 12px;
                background: #FFF;
                box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.04), 0px 4px 8px 0px rgba(0, 0, 0, 0.06);
                .image-contain{
                    width: 100%;
                }
                .body{
                    display: flex;
                    padding: 12px 24px;
                    flex-direction: column;
                    align-items: flex-start;
                    gap: 10px;
                    align-self: stretch;
                    h4{
                        color: #0A2540;
                        font-size: 16px;
                        font-style: normal;
                        font-weight: 600;
                        line-height: .5;
                        letter-spacing: 0.1px;
                        margin-bottom: 4px;
                        @media(max-width:500px){
                            font-size: 13px;
                        }
                    }
                    .tag{
                        display: flex;
                        width: 97px;
                        height: 20.952px;
                        justify-content: center;
                        align-items: center;
                        gap: 3.104px;
                        background: #E6FAF0;
                        text-align: center;
                        font-size: 10.088px;
                        font-style: normal;
                        font-weight: 500;
                        line-height: 150%;
                        letter-spacing: 0.078px;
                        border-radius: 6.208px;
                        color: #226C62;
                        @media(max-width:500px){
                            font-size: 7.8px;
                        }
                    }
                    .stroy-description{
                        color: #0A2540;
                        font-size: 13px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: 150%;
                        letter-spacing: 0.1px;
                        margin-bottom: 10px;
                        @media(max-width:500px){
                            font-size: 10px;
                        }
                    }
                    a{
                        display: flex;
                        width: 112.223px;
                        height: 33.667px;
                        padding: 5.611px 11.222px;
                        justify-content: center;
                        align-items: center;
                        gap: 7.014px;
                        border-radius: 24.549px;
                        border: 0.842px solid #000000;
                        color: #000;
                        text-align: center;
                        text-decoration: none;
                        font-size: 11.222px;
                        font-style: normal;
                        font-weight: 500;
                        line-height: 150%;
                        letter-spacing: 0.07px;
                    }
                }
            }
        }
        .owl-nav{
            display: flex;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: calc(100% + 66px);
            justify-content: space-between;
            align-items: center;
            button{
                outline: none;
                width: 54px;
                height: 57px;
            }
            .disabled{
                opacity: .7;
            }
        }
        .owl-dots{
            display: flex;
            align-items: center;
            justify-content: center;
            margin-top: 40px;
            .owl-dot{
                width: 9.605px;
                height: 9.605px;
                flex-shrink: 0;
                background: #B6B6B6;
                margin: 0 4px;
                border-radius: 50%;
            }
            .owl-dot.active{
                width: 15.688px;
                height: 15.688px;
                background: #7D65FE;
            }
            @media(max-width:500px){
                .owl-dot{
                    width: 5.395px;
                    height: 5.395px;
                }
                .owl-dot.active{
                    width: 8.811px;
                    height: 8.811px;
                }
            }
        }
    }
}